@color-primario: #333333;
@color-claro: #ffff;
@color-secundario: #8841da;
@color-variacion: #012179;
@fuente1: 'Lato', sans-serif;
@fuente2: 'Oswald', sans-serif;
@fuente-base: 18px;


*{
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: @fuente1;
	color: @color-primario;
	line-height: @fuente-base + 10%;

}

h1,h2,h3 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

